
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-QK1 {
  box-sizing: border-box;
  padding: 21.7rem 16.8rem 40.5rem 16.8rem;
  display: flex;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background: linear-gradient(180deg, #000000 -0%, #666666 100%);

  .d-modelling-Z5R {
    font-family: Monoton, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 2.2rem;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.5575;
    color: #ffffff;
  }
  .please-capture-photos-from-all-angles-pX9 {
    line-height: 1.2175;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 6.9rem;
    font-size: 2.4rem;
    font-weight: 400;
  }
  .auto-group-vubd-Kyh {
    width: calc(100% - 69.5rem);
    height: 5.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 68.7rem 0rem 0.8rem;

    .frame-2-zTZ {
      font-weight: 700;
      display: flex;
      border-radius: 4rem;
      margin-right: 4.9rem;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 0.4rem 2.5rem rgba(45, 242, 255, 0.25);
      flex-shrink: 0;
      width: 18rem;
      height: 100%;
      position: relative;
      white-space: nowrap;
      align-items: center;
      background-color: #2cf2ff;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 1.8rem;
      justify-content: center;
    }
    .frame-3-C3q {
      font-weight: 700;
      font-family: Montserrat, 'Source Sans Pro';
      justify-content: center;
      width: 18rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      background-color: #2cf2ff;
      flex-shrink: 0;
      border-radius: 4rem;
      height: 100%;
      position: relative;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.2175;
      color: #000000;
      white-space: nowrap;
    }
  }
}
