html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
	width: 100%;
}
.main-QK1 {
	box-sizing: border-box;
	padding: 21.7rem 16.8rem 40.5rem 16.8rem;
	width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	background: linear-gradient(180deg, #000000 -0%, #666666 100%);
	background-color: #ffffff;
}
.main-QK1 .d-modelling-Z5R {
	margin-bottom: 2.2rem;
	font-size: 6.4rem;
	font-weight: 400;
	line-height: 1.5575;
	color: #ffffff;
	font-family: Monoton, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}
.main-QK1 .please-capture-photos-from-all-angles-pX9 {
	margin-bottom: 6.9rem;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 1.2175;
	color: #ffffff;
	font-family: Montserrat, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}
.main-QK1 .auto-group-vubd-Kyh {
	margin: 0rem 68.7rem 0rem 0.8rem;
	width: calc(100% - 69.5rem);
	height: 5.7rem;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}
.main-QK1 .auto-group-vubd-Kyh .frame-2-zTZ,
.main-QK1 .auto-group-vubd-Kyh .frame-3-C3q {
	margin-right: 4.9rem;
	width: 18rem;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.2175;
	color: #000000;
	font-family: Montserrat, 'Source Sans Pro';
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2cf2ff;
	border-radius: 4rem;
	flex-shrink: 0;
	border: none;
	cursor: pointer; /* added to make it look like a button */
	outline: none; /* added to remove default focus styles */
}
